body {
    background-color: #D6E1FF;
}

.Order {
    background-color: white;
    margin: auto;
    width: 450px;
    border-radius: 20px;
}

.image {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.summary {
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listen {
    margin-top: 17px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #717FA6;
    text-align: center;
}


h1 {
    margin-top: 45px;
    height: 37px;
    font-size: 28px;
    font-weight: 900;
    line-height: 37.04px;
    color: #1F2E55;
    text-align: center;
}

.plan {
    font-size: 16px;
    font-weight: 900;
    line-height: 21.17px;
    color: #1F2E55;
}

.year {
    color: #717FA6;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.change {
    margin-top: 20px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.music {
    display: flex;
}

.iconmusic {
    margin-right: 20px;
}

.underline {
    text-decoration-line: underline;
    color: #382AE1;
    cursor: pointer;
}
.underline:hover{
    color: #766CF1;
}
.payment{
    margin-top: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #382AE1;
    width: 100%;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    cursor: pointer;
}
.payment:hover{
    background-color: #766CF1;
}
.proceed{
    color: white;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
}
.order{
    margin-block-end: 48px;
    margin-top: 32px;
    color: #717FA6;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    cursor: pointer;
}
.order:hover{
    color: #1F2E55;
}